@{
    ViewBag.Title = "Index";
}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">
    <!-- ============================ COMPONENT LOGIN   ================================= -->
    <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
        <div class="card-body">
            <h4 class="card-title mb-4">Đăng nhập</h4>
            <form action="@Url.Action("Login", "User")" method="post">
                @Html.AntiForgeryToken()
                <a href="#" class="btn btn-facebook btn-block mb-2"> <i class="fab fa-facebook-f"></i> &nbsp  Sign in with Facebook</a>
                <a href="#" class="btn btn-google btn-block mb-4"> <i class="fab fa-google"></i> &nbsp  Sign in with Google</a>
                <div class="form-group">
                    <label>Tên đăng nhập</label>
                    <input name="UserName" class="form-control" placeholder="Username" type="text" required>
                </div> <!-- form-group// -->
                <div class="form-group">
                    <label>Mật khẩu</label>
                    <input name="Password" class="form-control" placeholder="Password" type="password" required>
                </div> <!-- form-group// -->
                @*<div class="form-group">
                        <a href="#" class="float-right">Forgot password?</a>
                        <label class="float-left custom-control custom-checkbox"> <input type="checkbox" class="custom-control-input" checked=""> <div class="custom-control-label"> Remember </div> </label>
                    </div>*@ <!-- form-group form-check .// -->
                @if (ViewBag.Error != null)
                {
                    <p style="color:red">@ViewBag.Error</p>
                }
                @if (ViewBag.Success != null)
                {
                    <p style="color:mediumblue">@ViewBag.Success</p>
                }
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block" value="login"> Đăng nhập </button>
                </div> <!-- form-group// -->
            </form>
        </div> <!-- card-body.// -->
    </div> <!-- card .// -->
    <p class="text-center mt-4">Bạn chưa có tài khoản? <a href="~/dang-ky">Đăng ký mới</a></p>
    <br><br>
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->

</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
